p.one{
    border-style: solid;
    border-width: 5px;
    width:120px;
}
p.two{
    border-style: solid;
    border-width: 5px;
    width:120px;
}
.three{
    background-color: khaki;
    width: 150px;
}