.class1{
    text-align: center;
    border-bottom: 5px solid black;
}
body{
    background-color: antiquewhite;
}
.class2{
    float: left;
    width: 50%;
    border-right: 5px solid black;
    background-color: white;
}
.class3{
    float: right;
    width: 48%;

}